<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">APV #</label>
                    <select ng-model="search.apv" class="form-control" ng-change="cboAPV(search.apv)">
                        <option ng-repeat="apv in apvs" value="{{apv.apvID}}">{{apv.APVNum}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Account Payable Voucher</div>
        <div class="scrollable-area">
            <div id ="printTable">
                <table class="table table-hover table-responsive" id="tab_logic">
                <thead><br><br>
                    <tr>
                        <h4 class="text-center">Solutions Management System, Inc.</h4>
                        <h5 class="text-center">#47 Hayes Street, Cagayan de Oro City</h5>
                        <h3 class="text-center">ACCOUNT PAYABLE VOUCHER</h3><br><br>
                        <form class="form-horizontal" role="form">
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group" ng-repeat="accnt in accnts">
                                    <label for="inputName">Date: {{accnt.transDate}}</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <div class="form-group" ng-repeat="accnt in accnts">
                                    <label for="inputName">APV No.: {{accnt.APVNum}}</label>
                                </div>
                            </div>
                        </form>
                        <th class="text-center">Account Title</th>
                        <th class="text-center">Debit</th>
                        <th class="text-center">Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="debit in debits">
                        <td>{{debit.acctTitle}}</td>
                        <td class="text-center">{{debit.amount}}</td>
                    </tr>
                    <tr ng-repeat="credit in credits">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{credit.acctTitle}}</td>
                        <td></td>
                        <td class="text-center">{{credit.amount}}</td>
                    </tr>
                    <tr ng-repeat="accnt in accnts">
                        <td>Particulars</td>
                        <td>{{accnt.particulars}}</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="credit in credits">
                        <td ng-repeat="accnt in accnts">Prepared By: {{accnt.empName}}</td>
                        <td>Audited By: </td>
                        <td>Approve By: {{credit.empName}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-success" ng-click="printData()"><i class="fa fa-print"></i> </a>
</div>
