<div class="container">
    <form class="form-signin" id="form-signin">
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" ng-model="username" class="form-control" placeholder="Username" autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>
    </form>
</div>
<!-- /container -->
