<div class="row">
    <div class="col-lg-12">
        <h5 class="page-header">Prepare: Journal Voucher</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Journal Voucher Entry</div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <select ng-model="entry.acctTitle" class="form-control" id="inputName">
                            <option ng-repeat="acctTitle in acctTitles track by acctTitle.idAcctTitle" ng-value="{{acctTitle.idAcctTitle}}" ng-selected="entry.acctTitle == acctTitle.idAcctTitle">{{acctTitle.acctTitle}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inputName" ng-model="entry.DB" placeholder="Debit (0.00)">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inputName" ng-model="entry.CR" placeholder="Credit (0.00)">
                    </div>
                    <div class="form-group">
                        <a id="add_row" class="btn btn-primary pull-left" ng-click="addRow(entry)"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </form>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr>
                                <th class="text-center">Account Title</th>
                                <th class="text-center">Debit</th>
                                <th class="text-center">Credit</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in entries">
                                <td>
                                    <span ng-show="entry.DB != 0 && entry.CR == 0">{{entry.title}}</span>
                                    <span ng-show="entry.DB == 0 && entry.CR != 0">&nbsp;&nbsp;&nbsp;&nbsp;{{entry.title}}</span>
                                </td>
                                <td>
                                    <span ng-show="entry.DB != 0 && entry.CR == 0"> {{entry.DB}} </span>
                                    <span ng-show="entry.DB == 0 && entry.CR != 0"></span>
                                </td>
                                <td>
                                    <span ng-show="entry.CR != 0 && entry.DB == 0"> {{entry.CR}} </span>
                                    <span ng-show="entry.CR == 0 && entry.DB != 0"></span>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary btn-xs" ng-click="getEntriesID(CDV.cdvID)">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger btn-xs" ng-click="removeRow($index)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td>{{totalDB}}</td>
                                <td>{{totalCR}}</td><td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="inputName">Particular</label>
                        <input type="text" class="form-control" id="inputName" ng-model="JV.particular" placeholder="Particular">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-inline pull-right" role="form">
                    <button class="btn btn-sm btn-primary" ng-click="saveJVEntries()"><span class="glyphicon glyphicon-saved"></span> Save</button>
                    <button class="btn btn-sm btn-danger" ng-hide="isDisable" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
