<div class="row">
    <div class="col-lg-12">
        <h5 class="page-header">Approve Journal Voucher</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form>
                    <div class="form-inline form-group">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="inputName">JV Number: </label>
                                <label for="inputSlug">{{entry.JVNum}}</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="inputSlug">Transaction Date: </label>
                                <label for="inputSlug">{{entry.transdate}}</label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="inputSlug">Particular: </label>
                                <label for="inputSlug">{{entry.particulars}}</label>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <br>
                <br>
                <div class="scrollable-area">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr>
                                <th class="text-center">Account Title</th>
                                <th class="text-center">Debit</th>
                                <th class="text-center">Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in entries">
                                <td>
                                    <span ng-show="entry.DB != 0 && entry.CR == 0">{{entry.title}}</span>
                                    <span ng-show="entry.DB == 0 && entry.CR != 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{entry.title}}</span>
                                </td>
                                <td>
                                    <span ng-show="entry.DB != 0 && entry.CR == 0"> {{entry.DB}} </span>
                                    <span ng-show="entry.DB == 0 && entry.CR != 0"></span>
                                </td>
                                <td>
                                    <span ng-show="entry.CR != 0 && entry.DB == 0"> {{entry.CR}} </span>
                                    <span ng-show="entry.CR == 0 && entry.DB != 0"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="inputSlug">Prepared By:</label>
                            <label for="inputSlug">{{entry.empName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-inline pull-left" role="form">
        <button class="btn btn-sm btn-primary" ng-click="approveJV()"><span class="glyphicon glyphicon-ok"></span> Approve</button>
        <button class="btn btn-sm btn-danger" ng-click="cancelJV()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
    </div>
    <button class="btn btn-sm btn-success" ng-click="auditJV()"><span class="glyphicon glyphicon-check"></span> Audit</button>
</div>
