<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Purchase Order</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">PURCHASE ORDER LISTS</div>
            <div class="panel-body">
                <div class="form-inline pull-left" role="form">
                    <a class="btn btn-warning" ui-sref="main.AddPO"><i class="fa fa-plus"></i> </a>
                </div>
                <div class="form-inline pull-right" role="form">
                    <div class="form-group">
                        <input id="txtvalue" type="text" class="form-control" ng-model="POSearch" placeholder="Search PO No.">
                    </div>
                    <button ng-click="search()" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
            <form>
                <div class="scrollable-area">
                    <table id="tbl_subject" class="table table-hover table-responsive" ng-table="tableParams">
                        <tr ng-repeat="PO in $data">
                            <td data-title="'PO No.'" sortable="'title'" class="text-center">
                                {{PO.po_num}}
                            </td>
                            <td data-title="'Date'" class="text-center">
                                {{PO.PO_date}}
                            </td>
                            <td data-title="'Requested By'" class="text-center">
                                {{PO.brName}}
                            </td>
                            <td data-title="'Supplier'" class="text-center">
                                {{PO.supplier}}
                            </td>
                            <td data-title="'Purchasing Agent'" class="text-center">
                                {{PO.purchasing_agent}}
                            </td>
                            <td data-title="'MOP'" class="text-center">
                                {{PO.payment}}
                            </td>
                            <td data-title="'STATUS'" class="text-center">
                                {{PO.status}}
                            </td>
                            <td data-title="'View'" class="text-center">
                                <div class="text-center">
                                    <a class="btn btn-primary btn-xs" href="#/main/purchaseOrder/{{PO.poID}}">
                                        <i class="glyphicon glyphicon-open"></i>
                                    </a>
                                    <a class="btn btn-primary btn-xs" href="#/main/soa/{{PO.poID}}">SOA
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div id="pagination" cellspacing="0"></div>
                </div>
            </form>
        </div>
    </div>
</div>
